In [3]:
A= [1,2,3,4,5,6]
B= [13,21,24]
A.extend(B)
A

[1, 2, 3, 4, 5, 6, 13, 21, 24]

In [4]:
import numpy as np
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [17]:
import pandas as pd
url=('https://github.com/WalePhenomenon/climate_change/blob/master/fuel_ferc1.csv?raw=true')
fuel_data = pd.read_csv(url, error_bad_lines=False)
fuel_data.describe(include='all')
fuel_data.to_csv('url.csv')

In [18]:

#check for missing values
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [19]:
#use groupby to count the sum of each unique value in the fuel unit column
fuel_data.groupby('fuel_unit')['fuel_unit'].count()
fuel_data[['fuel_unit']] = fuel_data[['fuel_unit']].fillna(value = 'mcf')

#check if missing values have been filled
fuel_data.isnull().sum()

record_id                       0
utility_id_ferc1                0
report_year                     0
plant_name_ferc1                0
fuel_type_code_pudl             0
fuel_unit                       0
fuel_qty_burned                 0
fuel_mmbtu_per_unit             0
fuel_cost_per_unit_burned       0
fuel_cost_per_unit_delivered    0
fuel_cost_per_mmbtu             0
dtype: int64

In [20]:
fuel_data.groupby('fuel_cost_per_unit_burned').mean()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
fuel_cost_per_unit_burned,,,,,,
-276.080,194.0,2000.0,39.0,0.015500,-174.670,-8.906
-174.670,194.0,2000.0,116.0,0.015500,-174.670,-5.635
-123.310,194.0,2000.0,77.0,0.015500,-174.670,-3.978
-119.040,281.0,2003.0,1159.0,0.012731,-118.340,-5.750
-85.760,194.0,1995.0,6072.0,0.013457,-85.640,-3.186
...,...,...,...,...,...,...
65137.588,7.0,2012.0,465.0,0.066706,2958.417,0.976
69785.215,7.0,2011.0,467.0,0.066704,2834.457,1.046
80459.000,177.0,2014.0,76.0,5.984286,0.000,13.445
83538.000,132.0,2011.0,150.0,5.880000,137.172,14.207
139358.000,147.0,2014.0,49418.0,6.172572,136410.000,22.577